__pycache__/
*.py[cod]
*$py.class

venv/
env/
.venv/
.env/

.env
*.env

pip-log.txt
pip-delete-this-directory.txt

*.spec
dist/
build/

htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

.ipynb_checkpoints

.vscode/

.idea/

.mypy_cache/

*.sqlite3
*.db

*.log

.DS_Store

Thumbs.db
desktop.ini
